# PostgreSQL
# Формат подключения:
# postgresql+psycopg2://<user>:<password>@<host>:<port>/<database_name>
DATABASE_URL=postgresql+psycopg2://user:password@db:5432/blogdb
# user       - имя пользователя базы
# password   - пароль
# db         - hostname контейнера PostgreSQL (Docker Compose)
# 5432       - стандартный порт
# blogdb     - имя базы данных

# Redis
# Формат подключения:
# redis://<host>:<port>/<db_number>
REDIS_URL=redis://redis:6379/0
# redis      - hostname контейнера Redis
# 6379       - стандартный порт
# 0          - номер базы данных Redis (по умолчанию)